<div class="well">
    This project was created to identify a build issue we were having with another project using the Yo Ember build. For some reason, the site acts responsively in the browser, but when accessing gh-pages on a mobile device the site appears to be static. 
</div>
